@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

body,
html {}

.second-color {
    color: #c7d4dc !important;
}
.second-bg{
    background-color: #c7d4dc !important;
}

.main-color {
    color: lightgrey !important;
}

.bg-main {
    background-color: lightgrey !important;
}

img.logo {
    width: 80px;
}

.border-line {
    background-color: lightgrey !important;
}

.fact-box h2 {
    color: gray !important;
    font-size: 45px;
}

.lang-txt {
    color: #000 !important;
}

.navbar-brand {
    padding: 0px !important;

}

.navbar-default .navbar-nav>li>a,
.lang-txt {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 15px;
}

@media (min-width: 768px) {
    .lang-txt {
        color: gray !important;
    }

    .lang-txt {
        position: relative;
        display: block;
        padding: 0px 11px;
    }

    

    
    nav.after-color .navbar-nav>li>a {
        color: gray !important;
    }
}

.navbar-default .navbar-nav>.active>a {
    color: #000 !important;
    background-color: transparent;
    border-bottom: 1px solid;
}

.navbar-default .navbar-nav>li>a:hover,

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: lightgrey;
    background-color: transparent;
}

.img-135 {
    width: 135px;
    ;
}

.img-95 {
    width: 95px;
    ;
}

.cta-bg {
  
    padding-top: 40px;
}


.flip-card {
    background-color: transparent;
    width: 100%;
    height: 360px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: lightgrey;
    color: black;
padding-top: 30px;
    transform: rotateY(180deg);
}

.pt-8 {
    padding-top: 8px;
}

.services {
    background: #f3f6f8 !important;
}

.desc {
    padding: 70px;
}

.row {
    margin-right: -15px;
    margin-left: 0px !important;
}

.style-div {
    padding-right: 15px;
    padding-left: 0px !important;
}




.footer .copyright {
    display: block;
    color: rgb(62 60 60 / 70%) !important;
    font-size: 12px;
}

.btn-white:hover {
    color: black !important;
    border-color: #fff;
    background-color: #fff;
}

.box-shadow{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    padding: 8px;
    opacity: 0.4;
    transition: .5s;
    background: #fff;
    box-shadow: 0px 10px 35px 0px rgb(0 0 0 / 5%);
}

.box-shadow:hover{
    opacity: 1;   
}

/***********************  our customer styles   *****************************/
.left-border-item { 
    width: 3px;
    background-color: #a4bac7;
    border-radius: 8px;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.border-item-2 {
    height: 0px;
    top:45%;
}

.box-shadow:hover .border-item-2{ 
    height: 100%; 
    top: 0%;
}

.box-shadow:hover .border-item-1{ 
    height: 0px;
    top:45%;
}

.owl-carousel {
    direction: ltr!important;
}


.footer {
    height: 400px;
    background-image: url(/assets/images/footer.jpg);
    background-size: cover;
    background-position: center;

}

.footer-container {
    background-color: rgb(0 0 0 / 24%);
    height: 100%;
}

.footer-nav ul li {
    border: none!important;
    margin-left: 130px !important;
    color: gray;
}
.footer-nav ul li:hover a{
    background-color: transparent !important;
    color: #fff;
}
.footer-nav  .navbar-nav>.active>a{
    color: #000 !important;
}


.left-border-ser { 
    width: 50px;
    background-color: #a4bac7;
    border-radius: 8px;
    height: 160%;
    transition: all 0.5s ease-in-out;
}
.right-border-ser { 
    width: 50px;
    background-color: #a4bac7;
    border-radius: 8px;
    height: 160%;
    transition: all 0.5s ease-in-out;
}

.style-div:hover .border-item-ser{ 
    height: 100px;
    top:50%;
}